/* $Id: $ */
@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
cite,
code,
em,
img,
q,
s,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
canvas,
embed,
figure,
footer,
header,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-attachment: fixed;
    color: #444444;
    font: 75%/1.3 Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

input,
input[type="text"],
input[type="search"],
textarea,
button {
    outline: none;
    margin: 0 auto;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

img,
a {
    border: 0px;
    outline: none;
    color: #3a6cae;
    text-decoration: none;
}

img,
a:hover {
    text-decoration: underline;
}

ol,
ul {
    list-style: none outside none;
}

.zf-tempContDiv input[type="text"],
.zf-tempContDiv textarea {
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    font-size: 13px;
}

.zf-tempContDiv input[type="text"]:hover,
.zf-tempContDiv textarea:hover {
    border: 1px solid rgba(157, 157, 157, 0.75) !important;
}

.zf-tempContDiv input[type="text"]:focus,
.zf-tempContDiv textarea:focus {
    border: 1px solid rgba(121, 187, 238, 0.75) !important;
    -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5) !important;
    -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5) !important;
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.5) !important;
}

.zf-tempContDiv textarea {
    height: 75px;
}

/**********Error Message***********/

/**********Mandatory Message***********/
.zf-important {
    color: #ff0000 !important;
    font-weight: normal;
    margin-left: 0px;
    padding: 0;
    font-size: 13px !important;
}

/**********instruction Message***********/
.zf-instruction {
    color: #939393;
    font-style: italic;
    margin-top: 3px;
    font-size: 12px;
    overflow: visible !important;
    word-break: break-all;
    margin-bottom: 3px;
}

/*****************template Header Starts Here****************/

/****************template Header Ends Here****************/


.zf-subContWrap {
    padding: 0;
    margin: 10px;
    margin-bottom: 0;
}

.zf-tempFrmWrapper {
    padding: 10px 15px;
    margin: 1px 0;
}

.zf-tempFrmWrapper .zf-tempContDiv {
    margin: 0;
    padding: 0;
}

.zf-tempFrmWrapper .zf-labelName {
    font-weight: bold;
    font-size: 13px;
    color: #444;
}

.zf-tempContDiv input[type="file"] {
    outline: none;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 5px;
    width: auto;
}

.zf-tempContDiv input[type="checkbox"],
.zf-tempContDiv input[type="radio"] {
    display: block;
    height: 13px;
    margin: 4px 0 0;
    padding: 0;
    width: 13px;
}

/****************Field Small/Medium/Large Starts Here****************/

.zf-small .zf-tempContDiv input[type="text"],
.zf-small .zf-tempContDiv textarea {
    width: 50%;
}


/****************Field Small/Medium/Large Ends Here****************/

.zf-rightAlign {
    display: block;
}

.zf-rightAlign .zf-tempFrmWrapper .zf-labelName {
    float: left;
    width: 30%;
    line-height: 20px;
    text-align: right;
    margin-right: 15px;
}

.zf-rightAlign .zf-tempFrmWrapper .zf-tempContDiv {
    margin-left: 35%;
}

/****************Form Top Align Starts Here****************/

.fixed-width-column {
    min-width: 200px;
    max-width: 200px;
    word-wrap: break-word;
}