/src/venv/*
/bin/cdk-pipeline-eb.js
/lib/cdk-pipeline-stack.js
/lib/eb-appln-stack.js
/lib/eb-stage.js
/test/cdk-pipeline-eb.test.js

# *.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
!src/*
src/package-lock.json
src/node_modules

.DS_Store
**/.DS_Store
