{% extends "base_user.html" %}


{% block title %}
<title>BigBucks - Login</title>
{% endblock %}



{% block image %}
<img src="{{ url_for('static', filename='/img/login.png')}}" alt="login" class="login-card-img" />
{% endblock %}

{% block content %}
<p class="login-card-description">Sign into your account</p>

<form action="#!" method="post">
  <div class="form-group">
    <!---->
    {{ form.csrf_token }}
    <!---->
    {{ form.email.label(class='sr-only')}}
    <!---->
    {{ form.email(class='form-control', placeholder='Email address') }}
    <!---->
    {% for error in form.email.errors %}
    <p class="validation-error">[{{ error }}]</p>
    {% endfor %}
  </div>
  <div class="form-group mb-4">
    <!---->
    {{ form.password.label(class='sr-only') }}
    <!---->
    {{ form.password(class='form-control',
    placeholder='***********') }}
    <!---->
    {% for error in form.password.errors %}
    <p class="validation-error">[{{ error }}]</p>
    {% endfor %}
  </div>

  <div class="field checkbox">
    {{ form.remember_me.label }} {{ form.remember_me() }}
  </div>

  <div>
    {{ form.submit(class='btn btn-block login-btn mb-4') }}
  </div>
</form>


<a href="#!" class="forgot-password-link">Forgot password?</a>
<p class="login-card-footer-text">
  Don't have an account?
  <a href="{{ url_for('users.register')}}" class="text-reset">Register here</a>
</p>
{% endblock %}