{% extends "base.html" %}

{% block content %}
<div class="inner-banner"></div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="{{url_for('home.index')}}">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>
                {% block sub_header %}
                {% endblock %}
            </li>
        </ul>
    </div>
</section>

{% block sub_content%}
{% endblock %}

{% endblock %}