{% extends "base_subpage.html" %}


{% block title %}
<title>BigBucks - Transaction History</title>
{% endblock %}


{% block sub_header%}
<a href="{{ url_for('stocks.transaction_history') }}">Transaction History</a>
{% endblock %}

{% block sub_content%}
<section class="w3l-stats py-5">
    <div class="gallery-inner container py-lg-5 py-md-4">
        <div class="container">
            <div class="table-responsive">
                <table class="table custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Stock</th>
                            <th scope="col">Shares</th>
                            <th scope="col">Unit Price ($)</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Buy / Sell</th>
                            <th scope="col">Order Type</th>
                            <th scope="col">Transaction Time</th>
                        </tr>
                    </thead>


                    <tbody>
                        {% for transaction in transaction_data %}
                        <tr scope="row">
                            <td class="fixed-width-column">
                                <a href="{{ url_for('stocks.detail', symbol=transaction['symbol'] ) }}">
                                    {{ transaction['symbol'] }}
                                    <small class="d-block">{{ transaction['company'] }}</small>
                            </td>
                            <td>
                                {{ transaction['shares']}}
                            </td>
                            <td>
                                {{ transaction['unit_price']}}
                            </td>
                            <td>
                                {{ transaction['amount'] }}
                            </td>
                            <td>
                                {{ transaction['buy_or_sell']}}
                            </td>
                            <td>
                                {{ transaction['order_type'] }}
                            </td>
                            <td>
                                {{ transaction['time'] }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}